.CodeMirror {
    height: 100%;
    width: 100%;
    font-size: 12px;
    line-height: 1.4;
}

.CodeMirror-gutters {
    width: 40px; /* Ensure gutter has a width */
    position: absolute; /* Gutter must be positioned absolutely */
    left: 0;
    top: 0;
    height: 100%;
}
