:root {
    all: initial;
    font-family: "Poppins", Helvetica, sans-serif;
    --white: #fff;

    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    
    --blue-50: #eff6ff;
    --blue-100: #dbe4ff;
    --blue-200: #bfdbfe;
    --blue-300: #93c5fd;
    --blue-400: #60a5fa;
    --blue-500: #3b82f6;
    --blue-600: #2563eb;
    --blue-700: #1d4ed8;
    --blue-800: #1e40af;
    --blue-900: #1e3a8a;
    
    --red-50: #fef2f2;
    --red-100: #fee2e2;
    --red-200: #fecaca;
    --red-300: #fca5a5;
    --red-400: #f87171;
    --red-500: #f87171;
    --red-600: #ef4444;
    --red-700: #dc2626;
    --red-800: #b91c1c;
    --red-900: #7f1d1d;
}
div {
    all: unset; /* Resets all styles, including unicode-bidi */
}


.width-full{
    width:100%;
}
#textFormatterPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This is fine for initial centering */
    background-color: var(--white);
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 700px;     
    height: 500px;
    border: 1px solid var(--gray-200);
    border-radius: 0.5rem;

}
.screensContainer{
    display:block;
    height: 440px; 
    min-height: 440px;
    max-height: 440px;
    border-top: 1px solid var(--gray-200);
    overflow: hidden;
}

.popupButtonsParent {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonRed{
    color: var(--white);
    background-color: var(--red-700);
    font-weight: 500;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    margin-right: 0.5rem;
    padding: 0.625rem 1.25rem;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.buttonRed:hover {
    background-color: var(--red-800);
}

.buttonBlue {
    color: var(--white);
    background-color: var(--blue-700);
    font-weight: 500;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    margin-left: 0.5rem;
    padding: 0.625rem 1.25rem;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.buttonBlue:hover {
    background-color: var(--blue-800);
}



.textFormatterNavTabs{
    display: none;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    color: var(--gray-500);
    border-left: 1px solid var(--gray-200);
    border-right: 1px solid var(--gray-200);
    border-radius: 0.5rem;
}

@media (min-width: 640px) {
    .textFormatterNavTabs {
        display: flex;
    }
}

.textFormatterNavTab {
    display: inline-block;
    width: 33.3%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: var(--gray-50);
    color: var(--gray-500);
    font-weight: 400;
    cursor: pointer;
}

.textFormatterNavTabSelected {
    display: inline-block;
    width: 33.3%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: var(--blue-700);
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
}

.textFormatterNavTab:hover {
    background-color: var(--gray-100);
}

.searchTranslationParent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 1.25rem;
    margin: 0.5rem;
    font-size: 0.75rem;
    color: var(--gray-900);
    border: 1px solid var(--gray-300);
    border-radius: 0.5rem;
    background-color: var(--gray-50);
}

.searchTranslationInput {
    font-size: 0.75rem;
    background-color: transparent;
    padding-left: 0.5rem;
    border: 0;
    flex: 1;
    outline: none;
    box-shadow: none;
}

.translationScopeSelectionInactive {
    background-color: var(--gray-100);
    color: var(--gray-500);
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.125rem 0.625rem;
    border-radius: 0.375rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    cursor: pointer;
    border: 1px solid var(--gray-500);
}

.translationScopeSelectionActive {
    background-color: var(--blue-100);
    color: var(--blue-500);
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.125rem 0.625rem;
    border-radius: 0.375rem;
    border: 1px solid var(--blue-400);
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    cursor: pointer;
}


/*//////////////////////////////////////////////////////////////////
[TranslationTable]*/
.translationTableWrapper {
    table-layout: fixed;
    border-collapse: separate; /* Change from collapse to separate */
    border-spacing: 0; /* Remove extra spacing */
    width: 680px;
    margin: 10px 10px 0 10px;
    border-radius: 10px; /* Rounds the entire table */
    overflow: hidden; /* Ensures child elements don’t overflow */
    color: var(--white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.translationTableWrapper thead {
    background-color: var(--blue-500);
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.translationTableWrapper th, .translationTableWrapper td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Round only the top corners of the table */
.translationTableWrapper thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
.translationTableWrapper thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

/* Round only the bottom corners of the last row */
.translationTableWrapper tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
.translationTableWrapper tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.translationTableWrapper td {
    color: var(--gray-700);
    font-size: 12px;
    min-width: 300px;
    cursor: pointer;
}

.translationTableBody {
    display: block;
    max-height: 340px;
    overflow-y: auto;
    width: 100%;
}

.translationTableWrapper thead, .translationTableWrapper tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.highlight {
    background-color: var(--blue-200); /* Change to any highlight color */
    transition: background-color 0.3s ease-in-out;
}


